docs/ export-ignore
example/ export-ignore
test/ export-ignore
TESTING.md export-ignore
Vagrantfile export-ignore
*.html linguist-detectable=false
*.yml linguist-detectable=true
*.yaml linguist-detectable=true
