---
sudo: required
dist: trusty
language: generic

matrix:
  include:
    - env: ANSIBLE_VERSION=ppa:ansible/ansible
    - env: ANSIBLE_VERSION=ppa:ansible/ansible-1.9

before_install:
 - sudo apt-get -y install software-properties-common
 - sudo apt-add-repository -y $ANSIBLE_VERSION
 - sudo apt-get -y update
 - sudo apt-get -y install ansible
 - ansible --version

script:
 - echo localhost > inventory
 - ansible-playbook -i inventory --connection=local --sudo -v test/test.yml

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/