---
# Setup folders
- name: ANSISTRANO | Ensure deployment base path exists
  file:
    state: directory
    path: "{{ ansistrano_deploy_to }}"

- name: ANSISTRANO | Set releases path
  set_fact:
    ansistrano_releases_path:
      stdout: "{{ ansistrano_deploy_to }}/{{ ansistrano_version_dir }}"

- name: ANSISTRANO | Set shared path
  set_fact:
    ansistrano_shared_path:
      stdout: "{{ ansistrano_deploy_to }}/shared"

- name: ANSISTRANO | Ensure shared elements folder exists
  file:
    state: directory
    path: "{{ ansistrano_shared_path.stdout }}"

# Ensure shared path exists
- name: ANSISTRANO | Ensure shared paths exists
  file:
    state: directory
    path: "{{ ansistrano_deploy_to }}/shared/{{ item }}"
  with_items: "{{ ansistrano_shared_paths }}"

# Ensure basedir shared files exists
- name: ANSISTRANO | Ensure basedir shared files exists
  file:
    state: directory
    path: "{{ ansistrano_deploy_to }}/shared/{{ item | dirname }}"
  with_items: "{{ ansistrano_shared_files }}"
