---
- name: ANSISTRANO | GIT | Ensure GIT deployment key is up to date
  copy:
    src: "{{ ansistrano_git_identity_key_path }}"
    dest: "{{ ansistrano_deploy_to }}/git_identity_key"
    mode: 0400
  when: ansistrano_git_identity_key_path|trim != ""

- name: ANSISTRANO | GIT | Update remote repository
  git:
    repo: "{{ ansistrano_git_repo }}"
    dest: "{{ ansistrano_deploy_to }}/repo"
    version: "{{ ansistrano_git_branch }}"
    accept_hostkey: true
    update: yes
    force: yes
    refspec: "{{ ansistrano_git_refspec | default(omit) }}"
  register: ansistrano_git_result_update
  when: ansistrano_git_identity_key_path|trim == ''

- name: ANSISTRANO | GIT | Update remote repository using SSH key
  git:
    repo: "{{ ansistrano_git_repo }}"
    dest: "{{ ansistrano_deploy_to }}/repo"
    version: "{{ ansistrano_git_branch }}"
    accept_hostkey: true
    update: yes
    force: yes
    refspec: "{{ ansistrano_git_refspec | default(omit) }}"
    key_file: "{{ ansistrano_deploy_to }}/git_identity_key"
  register: ansistrano_git_result_update_ssh
  when: ansistrano_git_identity_key_path|trim != ""

- name: ANSISTRANO | GIT | Register ansistrano_git_result variable
  set_fact: ansistrano_git_result={{ ansistrano_git_result_update_ssh if ansistrano_git_result_update|skipped else ansistrano_git_result_update }}

- name: ANSISTRANO | GIT | Shred GIT deployment key
  command: shred -f "{{ ansistrano_deploy_to }}/git_identity_key"
  when: ansistrano_git_identity_key_path|trim != ""

- name: ANSISTRANO | GIT | Set git_real_repo_tree
  set_fact:
    ansistrano_git_real_repo_tree: "{{ ansistrano_git_repo_tree | trim | regex_replace('^[/]*', '') | regex_replace('[/]*$', '') }}"

- name: ANSISTRANO | GIT | Create release folder
  file:
    state: directory
    path: "{{ ansistrano_release_path.stdout }}"

- name: ANSISTRANO | GIT | Sync repo subtree["{{ ansistrano_git_real_repo_tree }}"] to release path
  shell: >-
           {
             git ls-files -z --with-tree="{{ ansistrano_git_branch }}" | tr '\0' '\n';
             git submodule foreach --recursive --quiet 'git ls-files -z --with-tree="$sha1" | tr "\0" "\n" | sed "s#^#$path/#"';
           }
           | grep "^$prefix"
           | sed "s#^$prefix/##"
           | rsync -a --files-from=- "./$prefix/" {{ ansistrano_release_path.stdout }}/
  args:
    chdir: "{{ ansistrano_deploy_to }}/repo/"
  environment:
    prefix: "{{ ansistrano_git_real_repo_tree }}"
